/* Estilos generales para la aplicación */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Estilos para las listas de vuelos y destinos */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Estilos para las tarjetas de los vuelos */
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background-color: #f9f9f9;
}

/* Estilos para los botones */
button {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Estilos para el formulario de añadir vuelos */
.signup {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para el detalle del vuelo seleccionado */
.details-card {
  background-color: #f0f0f0;
  border-left: 5px solid #4CAF50; /* Barra lateral verde para destacar */
  padding: 10px;
  margin-top: 20px;
}

.details-card.active {
  display: block;
}

/* Estilos para etiquetas de formulario */
label {
  margin-top: 10px;
}

/* Estilo para el botón de envío del formulario */
button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
